/* Utiliser une police sans-serif pour les titres et une police serif pour le corps de texte */
h1, h2 {
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    font-family: 'Georgia', serif;
  }
  
  /* Utiliser une palette de couleurs cohérente et harmonieuse */
  header {
    background-color: #f7f7f7;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin: 0 20px;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
  nav a:hover {
    color: #0077b6;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .project {
    margin: 50px 0;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
  }
  
  .project img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
  }
  
  .project h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .project p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .project .titreProjet {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0077b6;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .project .titreProjet:hover {
    background-color: #005b8f;
  }

  .project a {
    color: black;
  }


  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }

   /* En-tête */
   header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
   /* Pied de page */
   footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #cfe2f3;
    margin-top: 4%;
    margin-bottom: 5%;
  }

  .project img {
    margin: auto;
  }

  .project table {
    border-collapse: separate;
    border-spacing: 3em;
  }

  .project a {
    text-decoration: none;
  }
  
  .langages {
    background-color: #0077b6;
    color: white;
    border-radius: 20%;
    width: 3.5em;
    height: 3em;
    text-align: center;
  }
  

  

  /* Styles pour les écrans plus grands que 768px */
@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  nav ul {
    display: flex;
    align-items: center;
  }

  nav li {
    margin: 0 10px;
  }

  main {
    margin-top: 80px;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px 20px;
  }
}

/* Styles pour les écrans plus petits que 768px */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  nav {
    margin-top: 20px;
  }

  nav li {
    display: block;
    margin: 10px 0;
  }

  main {
    margin-top: 60px;
  }

  footer {
    margin-top: 20px;
  }
}
